      <shutdown operation="merge">true</shutdown>
      <bgp-evpn operation="delete">
        <mpls operation="delete">
          <bgp>2</bgp>
          <shutdown operation="merge">true</shutdown>
        </mpls>
      </bgp-evpn>